@import "../../variables/_index.scss";
@import "../../mixins/_index.scss";

&--base {

  #{$root} {

    &__header {
      text-align: left;

      @include media-up(lg) {
        text-align: center;
      }
    }

    &__title {
      @include typo-h2;
      color: $color-gray;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__title-2 {
      @include typo-30;
      color: $color-gray;
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
    }

    &__line {
      width: 50px;
      border: 2px solid $color-blue;

      margin: 0 auto 58px 0;

      @include media-up(lg) {
        margin: 0 auto 58px auto;
      }

      &--left {
        margin: 0 auto 10px 0;

        @include media-up(lg) {
          margin-left: 0;
        }
      }
    }

    &__inner {
      text-align: center;
      margin: 0 auto;
      @include media-up(lg) {
        display: flex;
      }
    }

    &__content {
      max-width: 405px;
      margin-right: auto;
      text-align: left;
    }

    &__subtitle {
      @include typo-20;
      max-width: 377px;
      margin-bottom: 35px;
      color: $color-gray;

      span {
        color: $color-blue;
      }
    }

    &__text {
      @include typo-13;
      max-width: 389px;
      color: $color-gray;
    }

    &__photo {
      display: flex;
      padding-top: 27px;
      height: 225px;
    }

    &__img {
      position: relative;
    }

    &__item {
      padding-right: 10px;
      margin-right: 10px;
      height: 222px;

      &--mp {
        padding-right: 0;
        margin-right: 0;
      }
    }

    &__name {
      position: absolute;
      left: 15px;
      top: 15px;
      color: $color-white;
      text-transform: uppercase;
      text-align: left;
      max-width: 76px;
      @include typo-13;
      line-height:16px;

      @include media-up(md) {
        @include typo-24;
        position: absolute;
        left: 15px;
        top: 15px;
        color: $color-white;
        text-transform: uppercase;
        text-align: left;
        max-width: 76px;
      }

    }

    &__context {
      margin-right: 0;

      @include media-up(md) {
        margin-right: 31px;
      }
    }

    &__text-2 {
      margin-bottom: 10px;
      @include typo-11;
      color: $color-gray;
      text-align: left;

      @include media-up(lg) {
        @include typo-11;
        color: $color-gray;
        max-width: 405px;
        line-height: 19px;
        text-align: left;
        letter-spacing: .5px;
        margin-bottom: 20px;
      }
    }

    &__body-2 {
      display: flex;
      justify-content: center;
      padding: 120px 0 0 0;
    }

    &__action {
      text-align: center;
      margin-top: 35px;
      padding-bottom: 237px;
    }

    &__actions {
      text-align: left;

      @include media-up(lg) {
        text-align: center;
      }
    }

    &__made {
      text-align: center;
      padding: 27px 0 27px 0;
      background-color: $color-black;
    }

    &__made-text {
      font-size: 10px;
      color: $color-white;
      letter-spacing: 0.84px;

      @include media-up(md) {
        @include typo-11;
        color: $color-white;
        letter-spacing: 0.84px;
      }
    }
  }
}