@import "../../variables/index.scss";
@import "../../mixins/index.scss";

&--base {

  #{$root} {

    &__inner {
      display: block;
      padding: 27px 0px;
      text-align: center;

      @include media-up(lg) {
        padding: 27px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__body {
      display: flex;
      justify-content: center;

      @include media-up(lg) {
        display: flex;
      }
    }

    &__title {
      @include typo-22;
      margin-right: 0;
      color: $color-white;
      margin-bottom: 12px;

      @include media-up(lg) {
        @include typo-22;
        margin-right: 69px;
        color: $color-white;
        margin-bottom: 0;
      }
    }

    &__input {
      @include typo-14;
      color: $color-gray;
      outline: none;
      background: $color-white;
      padding: 11px 68px 11px 11px;

      @include media-up(md) {
        @include typo-14;
        color: $color-gray;
        outline: none;
        background: $color-white;
        padding: 11px 68px 11px 11px;
        border: 1px solid $color-border-2;
        border-right: 0;
        max-width: 250px;
      }

    }

    &__actions {
      margin-top: 12px;

      @include media-up(lg) {
        margin-top: 0;
      }
    }

  }
}