@import "../../variables/_index.scss";
@import "../../mixins/_index.scss";

&--base {

  padding: 56px 0 115px;

  #{$root} {

    &__inner {
      margin: 0 auto;

      @include media-up(md) {
        display: flex;
      }

    }

    &__body {
      width: 100%;
      background: $color-white;
      border: 1px solid $color-border;
      padding: 38px 22px 39px 23px;
      min-height: 330px;
      transition: all 0.2s ease-in-out;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: $color-shadow;
      }

      @include media-up(md) {
        margin-bottom: 0;
        max-width: 295px;
      }

      &--mr-28 {
        margin-right: 0;

        @include media-up(md) {
          margin-right: 28px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__image {
      margin-bottom: 22px;
    }

    &__title {
      @include typo-cart-title;
      color: $color-gray;
      margin-bottom: 13px;
      text-transform: uppercase;
    }

    &__text {
      @include typo-cart-text;
      color: $color-gray;
    }

  }
}